.App {
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
}
.title {
  height: 68px;
  margin-top: 160px;
  margin-bottom: 87px;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 160%;
  color: #1d1f22;
}
.title:first-letter {
  text-transform: uppercase;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.categories ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
.categories ul li {
  margin-right: 32px;
}
.defaultNavbarCategories {
  text-transform: uppercase;
  text-decoration: none;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #1d1f22;
}
.activeNavbarCategories {
  padding-bottom: 30px;
  color: #5ece7b;
  border-bottom: 1px solid #5ece7b;
  text-transform: uppercase;
  text-decoration: none;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}
.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  width: 204px;
  height: 40px;
}
.actions .currencyMenu {
  list-style-type: none;
  cursor: pointer;
  margin-top: 70px;
}
.shoppingItem {
  margin-left: 24px;
  cursor: pointer;
  position: relative;
}
.shoppingItem img {
  width: 20px;
  background: #43464e;
  position: relative;
}
.headerTemp {
  position: absolute;
  width: 325px;
  min-height: 540px;
  right: 110px;
  top: 95px;
  z-index: 999999999;
  background-color: #fff;
  padding: 16px;
}
.headerTempTitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #1d1f22;
  margin-top: 8px;
  margin-bottom: 25px;
}
.headerTempTitle span {
  font-weight: 400;
}
.productList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 103px 75px;
}
.productList .product {
  text-decoration: none;
  text-align: center;
}
.product .productDescription {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  color: #1d1f22;
  text-align: left;
}
.productPrice {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #1d1f22;
  text-align: left;
}
.productDetail {
  display: flex;
  width: 90%;
  justify-content: space-around;
}
.productDetail .productDetailPicture {
  width: 10%;
}
.imageDetail {
  display: flex;
  flex-direction: column;
  width: 10%;
}
.addToCart {
  text-align: left;
  width: 30%;
}
.addToCart .outofstockMsg {
  color: #1d1f22;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.button {
  width: 292px;
  height: 52px;
  left: 929px;
  top: 478px;
  background-color: #5ece7b;
  color: #ffffff;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
  cursor: pointer;
}
.price {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #1d1f22;
}
.amount {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
  color: #1d1f22;
}
.cartName {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #1d1f22;
}
.cartBrand {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  color: #1d1f22;
}
.cartDescription {
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 159.96% !important;
  color: #1d1f22 !important;
}
.productDetailsPage .imageDetail .productDetailPicture {
  margin-bottom: 20px;
  width: 80px !important;
  height: 80px;
}
.thumbnail {
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-bottom: 10px;
}
.singlePicture img {
  height: auto;
  width: 610px;
  border-radius: 0px;
}
.productDetailsPage {
  display: flex;
  margin-top: 80px;
}
.sizeBox {
  display: flex;
}
.cartAttr .selectedattr .dropdownInactive {
  width: 63px;
  height: 45px;
  border: 1px solid #a6a6a6;
  box-sizing: border-box;
  margin-right: 12px;
  position: relative;
  cursor: pointer;
}
.size {
  line-height: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartAttr .selectedattr .dropdownInactive {
  width: 63px;
  height: 45px;
  position: relative;
  border: 1px solid #1d1f22;
  box-sizing: border-box;
  margin-right: 12px;
  color: white;
}
.sizeBoxActive .active {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #a6a6a6;
}
.mainHeader {
  display: flex;
}
.headerImg {
  width: 100%;
}
.showCart {
  list-style-type: none;
  padding: 0;
  border-bottom: 1px solid #e5e5e5;
  margin: 0 auto;
}
.showCart .cartinner {
  border-top: 1px solid #e5e5e5;
  padding-top: 19px;
}
.showDropdownCart {
  list-style-type: none;
  padding-top: 20px;
  padding: 0;
  overflow-y: auto;
  height: 320px;
}
.showDropdownCart::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
.showDropdownCart::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
.showDropdownCart::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.showDropdownCart li {
  margin-bottom: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showDropdownCart li .cartDetails .cartDropdownName {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #1d1f22;
}
.showDropdownCart li .cartDetails .cartDropdownCurrency {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #1d1f22;
}
.showCart li {
  margin: 21px 0;
  display: flex;
  justify-content: space-between;
}
.header-temp .cartTitle {
  margin-top: 160px;
  margin-bottom: 59px;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  color: #1d1f22;
}
.showCart .cartName {
  margin-top: 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  color: #1d1f22;
}
.showCart .cartBrand {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  color: #1d1f22;
}
.showCart .cartCurrency {
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
  color: #1d1f22;
}
.showCart .cartQuantity {
  display: flex;
  align-items: center;
}
.showDropdownCart .cartQuantity {
  display: flex;
  align-items: center;
}

.showDropdownCart .cartQuantity .cartImage .mainImage {
  height: 137px;
  width: 105px;
  border-radius: 0px;
  margin-left: 10px;
}
.showCart .cartImage {
  margin-left: 12px;
}
.showCart .cartImage .cartImageInner {
  height: 190px;
  width: 141px;
  border-radius: 0px;
  position: relative;
}
.showCart .cartImage .arrowLeft {
  position: absolute;
  top: 50%;
  z-index: 99999;
  cursor: pointer;
}
.showCart .cartImage .arrowRight {
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 99999;
  transform: rotate(180deg);
}
.showCart .cartDetails {
  width: 100%;
}
.showCart .cartCounter {
  border: 1px solid #1d1f22;
  box-sizing: border-box;
  width: 45px;
  height: 45px;
  position: relative;
  cursor: pointer;
}
.showCart .cartNumber {
  box-sizing: border-box;
  width: 45px;
  height: 45px;
  position: relative;
  margin: 28px 0;
  cursor: pointer;
}
.showCart .cartCounter span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.showCart .cartNumber span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.shoppingItem .bag {
  position: relative;
}
.shoppingItem .cartItemsLabel {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #1d1f22;
  border-radius: 60px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 20px;
  height: 20px;
  z-index: 99999;
}
.sizeDropdownBox {
  display: flex;
}
.dropdownInactive {
  min-width: 40px;
  height: 24px;
  border: 1px solid #a6a6a6;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1d1f22;
  margin-right: 8px;
}
.dropdownInactive .size {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #a6a6a6;
}

.showDropdownCart .cartDetails .cartDropdownName {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  margin: 0;
}
.showDropdownCart .cartQuantity .cartDropdownCounter {
  width: 24px;
  height: 24px;
  border: 1px solid #1d1f22;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 33px;
  cursor: pointer;
}
.showDropdownCart .cartQuantity .cartDropdownCounterBottom {
  width: 24px;
  height: 24px;
  border: 1px solid #1d1f22;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}
.showDropdownCart .cartQuantity .cartDropdownCounterBottom span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.showDropdownCart .cartQuantity .cartDropdownCounter span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.showDropdownCart .cartQuantity .cartDropdownNumber {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  position: relative;
  margin-bottom: 33px;
}
.showDropdownCart .cartQuantity .cartDropdownNumber span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer {
  position: absolute;
  bottom: 5%;
  width: 90%;
}
.footer .totalAmount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
.footer .totalAmount .totalAmountTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #1d1f22;
}
.footer .totalAmount .totalPrice {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #1d1f22;
}
.footer .footerMenu {
  display: flex;
  justify-content: space-between;
}
.footer .footerMenu .viewAllBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  width: 140px;
  height: 43px;
  background: #ffffff;
  border: 1px solid #1d1f22;
  box-sizing: border-box;
  text-decoration: none;
  margin-right: 12px;
  outline: none;
  color: #1d1f22;
}
.footer .footerMenu .checkBtn {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 43px;
  background: #5ece7b;
  border: 1px solid #1d1f22;
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
}
.productPicture {
  width: auto;
  height: 20vw;
  max-height: 430px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.outofstock {
  opacity: 0.5;
}
.outofstock .outofstockMessage {
  color: #8d8f9a;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.removeFromCard {
  background: red;
}
.dropdownBackground {
  position: absolute;
  z-index: 9900;
  top: 95px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

.attributeOption {
  display: inline-flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  border: 1px solid #000;
  cursor: pointer;
}
.attributeOption.active {
  background: #000;
  color: #fff;
  opacity: 0.3;
}
.productWrapper {
  transition: all ease-in 0.15s;
  padding: 10px;
}
.productWrapper:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.5);
}
.productInCart {
  position: absolute;
  bottom: -40px;
  right: 20px;
}

.dropbtn {
  list-style-type: none;
  cursor: pointer;
  position: static;
  width: 12px;
  height: 29px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #1d1f22;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 24px;
}

.dropdownContent {
  display: none;
  padding: 0;
  position: absolute;
  min-width: 114px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent .innerDropdownContent {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  position: static;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  text-align: right;
  color: #1d1f22;
}

.dropdown .innerDropdownContent:hover {
  background-color: #ddd;
}

.show {
  display: block;
  position: absolute;
  left: 8px;
  margin-top: 8px;
}
.dropdownCurrencyItem {
  margin-right: 5px;
}
.arrowUp {
  margin-left: 10px;
  transform: rotate(180deg);
}
.arrowDown {
  margin-left: 10px;
}

.dropdownTitle {
  display: flex;
  align-items: center;
}
.inlineAddToCart {
  display: none;
  cursor: pointer;
}
.productWrapper:hover .inlineAddToCart {
  display: block;
}
.cartImage {
  position: relative;
}
.cartImage .cartImageInner {
  position: absolute;
  right: 0;
}
.deleteButton {
  margin-left: auto;
  cursor: pointer;
  border-radius: 10px;
  background-color: #fff5ee;
  display: none;
}
.showDropdownCart li:hover .showDeleteBtn {
  display: block;
}

.cartImageDelete {
  position: absolute;
  right: 0;
  z-index: 999999;
}
.cartImageDeleteButton {
  margin-left: auto;
  border-radius: 10px;
  background-color: #fff5ee;
  display: none;
}
.cartImage:hover .showDeleteButton {
  display: block;
  cursor: pointer;
}
.productLink {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
.titleemptycart {
  text-align: center;
  margin-top: 100px;
}
.selectedattr {
  display: flex;
  margin-right: 20px;
}
