.App {
  width: 85%;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
}

.title {
  height: 68px;
  margin-top: 160px;
  margin-bottom: 87px;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 160%;
  color: #1d1f22;
}
.title:first-letter {
  text-transform: uppercase;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.categories ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
.categories ul li {
  margin-right: 32px;
}
.defaultNavbarCategories {
  text-transform: uppercase;
  text-decoration: none;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #1d1f22;
}

.activeNavbarCategories {
  padding-bottom: 30px;
  color: #5ece7b;
  border-bottom: 1px solid #5ece7b;
  text-transform: uppercase;
  text-decoration: none;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}
.logo-temp img {
  width: 31.18px;
  height: 28.62px;
  background: linear-gradient(316.98deg, #52d67a 16.88%, #5aee87 84.04%);
  color: white;
}
.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  width: 204px;
  height: 40px;
}
.actions select {
  border: none;
  outline: none;
}
.actions select {
  font-size: 20px;
  width: 36px;
  cursor: pointer;
}
.shoppingItem {
  margin-left: 24px;
  cursor: pointer;
}

.shoppingItem img {
  width: 20px;
  background: #43464e;
  position: relative;
}
.headerTemp {
  position: absolute;
  width: 325px;
  min-height: 540px;
  right: 110px;
  top: 78px;
  z-index: 99999;
  background-color: beige;
  padding: 16px;
}
.headerTempTitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #1d1f22;
  margin-top: 8px;
  margin-bottom: 25px;
}
.default {
  position: relative;
  width: 356px;
}
.main {
  position: relative;
}
.opacity {
  position: relative;
  width: 356px;
  background: #ffffff;
  opacity: 0.5;
}
.opacity .productStock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  color: #8d8f9a;
}
.productList {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 103px 75px;
}

.productList .product {
  text-decoration: none;
  text-align: center;
}

.picture {
  height: 338px;
  width: 100%;
}
.product .productDescription {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  color: #1d1f22;
  text-align: left;
}
.productPrice {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #1d1f22;
  text-align: left;
}
.productDetail {
  display: flex;
  width: 90%;
  justify-content: space-around;
}

.productDetail .productDetailPicture {
  width: 10%;
}
.imageDetail {
  display: flex;
  flex-direction: column;
  width: 10%;
}
.addToCart {
  text-align: left;
}
.button {
  width: 292px;
  height: 52px;
  left: 929px;
  top: 478px;
  background-color: #5ece7b;
  color: #ffffff;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
  cursor: pointer;
}
.none {
  display: none;
}
.addToCart div {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 159.96%;
}
.price {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #1d1f22;
}
.amount {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
  color: #1d1f22;
}
.cartName {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #1d1f22;
}
.cartBrand {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  color: #1d1f22;
}
.cartDescription {
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 159.96% !important;
  color: #1d1f22 !important;
}
.productDetailsPage .imageDetail .productDetailPicture {
  margin-bottom: 20px;
  width: 80px !important;
  height: 80px;
}

.singlePicture img {
  height: 511px;
  width: 610px;
  border-radius: 0px;
}
.productDetailsPage {
  display: flex;
  margin-top: 80px;
}
.sizeBox {
  display: flex;
}
.sizeBoxInactive {
  width: 63px;
  height: 45px;
  border: 1px solid #a6a6a6;
  box-sizing: border-box;
  margin-right: 12px;
  position: relative;
  cursor: pointer;
}
.sizeBoxInactive .size {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #a6a6a6;
  line-height: 1;
}
.sizeBoxActive {
  width: 63px;
  height: 45px;
  position: relative;
  background: #1d1f22;
  border: 1px solid #1d1f22;
  box-sizing: border-box;
  margin-right: 12px;
  color: white;
}
.sizeBoxActive .active {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #a6a6a6;
}
.mainHeader {
  display: flex;
}
.headerImg {
  width: 100%;
}
.showCart {
  list-style-type: none;
  padding: 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 19px;
  margin: 0 auto;
}
.showDropdownCart {
  list-style-type: none;
  padding-top: 20px;
  padding: 0;
}
.showDropdownCart li {
  margin-bottom: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showDropdownCart li .cartDetails .cartDropdownName {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #1d1f22;
}
.showDropdownCart li .cartDetails .cartDropdownCurrency {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #1d1f22;
}
.showCart li {
  margin: 21px 0;
  display: flex;
  justify-content: space-between;
}
.header-temp .cartTitle {
  margin-top: 160px;
  margin-bottom: 59px;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  color: #1d1f22;
}
.showCart .cartName {
  margin-top: 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  color: #1d1f22;
}
.showCart .cartBrand {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  color: #1d1f22;
}
.showCart .cartCurrency {
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
  color: #1d1f22;
}

.showCart .cartQuantity {
  display: flex;
  align-items: center;
}

.showDropdownCart .cartQuantity {
  display: flex;
  align-items: center;
}

.showDropdownCart .cartQuantity .cartImage img {
  height: 137px;
  width: 105px;
  border-radius: 0px;
  margin-left: 10px;
}

.showCart .cartImage {
  margin-left: 12px;
}
.showCart .cartImage .cartImageInner {
  height: 190px;
  width: 141px;
  border-radius: 0px;
}
.showCart .cartDetails {
  width: 100%;
}
.showCart  .cartCounter {
  border: 1px solid #1d1f22;
  box-sizing: border-box;
  width: 45px;
  height: 45px;
  position: relative;
}

.showCart .cartNumber {
  box-sizing: border-box;
  width: 45px;
  height: 45px;
  position: relative;
  margin: 28px 0;
}

.showCart  .cartCounter span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showCart  .cartNumber span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shoppingItem .bag {
  position: relative;
}

.shoppingItem .count {
  position: absolute;
  transform: translate(-50%, -50%);
  background: #1d1f22;
  border-radius: 60px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 20px;
  height: 20px;
  z-index: 99999;
}

.sizeDropdownBox {
  display: flex;
}
.dropdownInactive {
  width: 24px;
  height: 24px;
  border: 1px solid #a6a6a6;
  box-sizing: border-box;
  margin-right: 12px;
  position: relative;
  cursor: pointer;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1d1f22;
  margin-right: 8px;
}
.dropdownInactive .size {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #a6a6a6;
}

.showDropdownCart .cartDetails .cartDropdownName {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  margin: 0;
}

.showDropdownCart .cartQuantity .cartDropdownCounter {
  width: 24px;
  height: 24px;
  border: 1px solid #1d1f22;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 33px;
}

.showDropdownCart .cartQuantity .cartDropdownCounterBottom {
  width: 24px;
  height: 24px;
  border: 1px solid #1d1f22;
  box-sizing: border-box;
  position: relative;
}

.showDropdownCart .cartQuantity .cartDropdownCounterBottom span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showDropdownCart .cartQuantity .cartDropdownCounter span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showDropdownCart .cartQuantity .cartDropdownNumber {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  position: relative;
  margin-bottom: 33px;
}

.showDropdownCart .cartQuantity .cartDropdownNumber span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showDropdownCart .cartQuantity .cartQuantity {
  display: flex;
  align-items: center;
}
.showDropdownCart .cartQuantity .cartImage {
  width: 30%;
}

.showDropdownCart .cartQuantity .cartDetails {
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 5%;
}
.footer .viewAllBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  width: 140px;
  height: 43px;
  background: #ffffff;
  border: 1px solid #1d1f22;
  box-sizing: border-box;
  text-decoration: none;
  margin-right: 12px;
}
.footer .checkBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 43px;
  background: #5ece7b;
  border: 1px solid #1d1f22;
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
}
